{% if page.author == "emanuel" %}
<img src="../../{{site.data.authors.emanuel.avatar}}" alt="" class="avatar">
{% elsif page.author == "filipe" %}
<img src="../../{{site.data.authors.filipe.avatar}}" alt="" class="avatar">
{% elsif page.author == "ricardo" %}
<img src="../../{{site.data.authors.ricardo.avatar}}" alt="" class="avatar">
{% elsif page.author == "helder" %}
<img src="../../{{site.data.authors.helder.avatar}}" alt="" class="avatar">
{% elsif page.author == "victor" %}
<img src="../../{{site.data.authors.victor.avatar}}" alt="" class="avatar">
{% elsif page.author == "xavier" %}
<img src="../../{{site.data.authors.xavier.avatar}}" alt="" class="avatar">
{% else %}
<img src="../../assets/img/logo.png" alt="" class="avatar">
{% endif %} 