<div class="ui hidden big divider"></div>

<div class="ui center aligned grid">
  <i class="caret down huge cuticon icon"></i>
</div>

<div class="ui fluid container techs" style="width: 100%!important;">
    <div class="ui container">
      <div class="ui equal width relaxed stackable grid">
        <div class="equal width row">
          <div class="column">
            <div class="ui header inverted">
              <div class="content">
                <h2 style="color: #ffcc00!important;">Just Design and UX</h2>
                <div class="sub header inverted">
                    You have developers, but you need a design team with experience in UX/UI to help design your product. In this case we will be your design and UX team.
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui header inverted">
              <div class="content">
                <h2 style="color: #ffcc00!important;">Just Development</h2>
                <div class="sub header inverted">
                    You have the designs for your product, and you just need a team to implement it. In this case we are your development team
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="equal width row">
          <div class="column"><div class="ui header inverted">
            <div class="content">
              <h2 style="color: #ffcc00!important;">Integration</h2>
              <div class="sub header inverted">
                  Sometimes your development team just needs an extra pair of hands. We have fullstack developers ready help or integrate your team.
              </div>
            </div>
          </div>
        </div>
          <div class="column"><div class="ui header inverted">
            <div class="content">
              <h2 style="color: #ffcc00!important;">Integration of Designers and Developers</h2>
              <div class="sub header inverted">
                  We can help you with a team of designers and developers joining your team.
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>