<div itemscope itemtype="http://schema.org/Organization">
  <a itemprop="url" href="https://yarilabs.com"><div itemprop="name"><strong>{{ site.title }}</strong></div>
  </a>
  <img src="{{ site.url | append: '/' | append: site.logo}}" itemprop="image" class="ohidden" alt="{{ site.title }}"/>
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">Rua dos Capelistas, 30 - 3 Andar</span><br>
    <span itemprop="postalCode">4700-307</span> - <span itemprop="addressLocality">Braga</span><br>
    <span itemprop="addressCountry">Portugal</span><br><br>
    <i class="send outline icon"></i>{% include email.html param="link" variable-param=page.variable %}<br>
    <i class="call icon"></i><a itemprop="telephone" href="tel:+{{ site.phone | escape | remove: " " }}">{{ site.phone }}</a><br>
    <i class="call icon"></i><a itemprop="telephone" href="tel:+{{ site.ukphone | escape | remove: " " }}">{{ site.ukphone }}</a>
  </div>
</div>
