<header class="site-header">
  <div class="widescreen computer mobile only">

    <div class="ui secondary menu">
      <a href="/" class="item left" title="Home of {{site.title}}">
         <img class="rgb" src="/assets/images/logo.svg" alt="" width="300px">
      </a>

      <a href="/" class="item right" id="mobmenu"><i class="content right big icon" ></i></a>
    </div>


  </div>
  <div class="ui secondary pointing menu large screen only">
    <div class="left menu">
      <a href="/" title="Home of {{site.title}}">
         <img class="rgb" src="/assets/images/logo_for_white.svg" alt="" width="250px">
      </a>
    </div>
    <div class="right menu" id="menu">
      <div class="ui dropdown pointing item">
        Company<i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" title="About {{site.title}}" href="/about/yarilabs">About Us</a>
          <a class="item" title="Careers at {{site.title}}" href="/about/careers">Careers</a>
          <a class="item" title="Consulting" href="/consulting/company-consulting">Consulting</a>
          <a class="item" title="Product Development" href="/consulting/smart-contract-solidity">Product Development</a>
        </div>
      </div>
      {% comment %} <a class="item" href="/about/portfolio">Work</a> {% endcomment %}
      {% comment %} <a class="item" title="Blog" href="/blogs">Blog</a> {% endcomment %}
      <a class="item" title="Contact {{site.title}}" href="/about/contact">Contact</a>
    </div>
  </div>
</header>
