<div class="ui horizontal list centered social">
  <a class="item" target="_blank" href="{{site.data.social.homesocial.gitlab.link}}"><i class="{{site.data.social.homesocial.gitlab.icon}}"></i></a>
  <a class="item" target="_blank" href="{{site.data.social.homesocial.twitter.link}}"><i class="{{site.data.social.homesocial.twitter.icon}}"></i></a>
  <a class="item" target="_blank" rel="publisher" href="{{site.data.social.homesocial.google.link}}"><i class="{{site.data.social.homesocial.google.icon}}"></i></a>
  <a class="item" target="_blank" href="{{site.data.social.homesocial.linkedin.link}}"><i class="{{site.data.social.homesocial.linkedin.icon}}"></i></a>
  <a class="item" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"><i class="{{site.data.social.homesocial.feed_xml.icon}}"></i></a>
</div>
