<div class="masthead" style="background-color:#fafafa!important;">
  <style>
      @media only screen and (min-width:1200px) and (max-width:1999px){
        .under_content{margin-left: -80px;}
      }
      @media only screen and (min-width:768px) and (max-width:1199px){
        .content img{width: 90%!important;}
      }
      @media only screen and (min-width:768px) and (max-width:899px){
        .content {margin-top: 50px;margin-bottom: 50px;}
      }
      @media only screen and (max-width:767px){
        .content img{
          opacity: 0;
          margin-top: -300px;
        }
        .ui_hidden_divider_767{margin-bottom: 40px;}
      }
  </style>

  <div class="ui equal width relaxed stackable grid" style="background-color:#fafafa;">
    <div class="equal width row">
      <div class="column">
        <div class="ui header inverted">
          <div class="content">
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="sub header inverted">
                <img src="../../assets/uploads/nopic_yari.jpg" alt="for mascot" >
            </div>
          </div>
        </div>
      </div>

      <div class="column" style="margin-left: -50px;">
        <div class="ui header inverted">
          <div class="content">
            <div class="under_content">
                <h1 style="color:#1b1c1d;">{{site.masthead}}</h1> <!-- | Vai buscar no _config.yml o masthead apontado | -->
                <h2 style="color:#1b1c1d!important;"> Professional Consulting and Product Development within your budget and on time, 
                    powered by modern technologies. Our team is fluent in Ruby, Elixir, Elm, Angular, React and Mobile Development. 
                    We can design and build your product from scratch or integrate your existing team.
                </h2>
                <div class="ui hidden divider"></div>
                {% include email.html param="button" variable-param=page.variable %}
            </div>
            <div class="ui_hidden_divider_767"></div>
          </div>
        </div>
      </div>
    </div>      
  </div>

</div>



<div class="ui center aligned grid">
  <i class="caret down huge cuticon icon"></i>
</div>
