<div id="portfolios">
  {% include portfoliohead.html %}
  <!-- Categorias , Vai buscar todas as catergorias adicionadas nos posts -->
  {% assign portfolios = site.posts | where: "layout" , "work" %}
  <div id="filters" style="margin-top: -35px!important; margin-bottom: 40px!important;">
    <a class="ui label large black" data-filter="*">Show All</a>
    {% for category in site.categories %}
    <a class="ui large label" data-filter=".{{ category | first | capitalize | replace: " ", "" }}">{{ category | first }}</a>
    {% endfor %}
  </div>

  <!-- Posts -->
  <div class="ui hidden divider"></div>
  <div class="portfolio">
    {% for page in portfolios %}
    {% assign tags = page.categories | join: ", " | capitalize | replace: ",", "&nbsp;" | replace: " ", "" %}

    {% assign allTags = "" %}
    {% for tags in page.categories %}
      {% assign singleCategory = page.categories[forloop.index0] | capitalize | replace: " ", "" %}
      {% assign allTags = allTags | append: " " | append: singleCategory %}
    {% endfor %}
    <div class="work {{ allTags }}"  >
      <div class="overlay">
        <a href="{{page.url}}" class="white">
          <div class="ui image link">{{page.title}}</div>
          <div class="ui bottom right attached black large label" 
              style="bottom: auto!important; left: 0px!important;"> {{page.title}}</div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="ui hidden divider"></div>
</div>
