<div id="portfolios">
  {% include portfoliohead.html %}  
  <!-- |============| Categorias |============================================================================|  -->
  <!-- Categorias , Vai buscar todas as catergorias adicionadas nos posts -->
  {% assign portfolios = site.posts | where: "layout" , "work" %}
  <div id="filters" align="center" class="filters_ports">
    <a class="ui label large black" data-filter="*">Show All</a>

    {% for category in site.categories %}
    <a class="ui large label" 
        data-filter=".{{ category | first | capitalize | replace: " ", "" }}">{{ category | first }}</a>
    {% endfor %}

    <hr width="95%">    
  </div>
  <!-- |============| end Categorias |========================================================================|  -->


  <!-- Posts das categorias apontadas, blog posts não aparece  -->
  <div class="portfolio">
    {% for page in portfolios %}

      {% assign tags = page.categories | join: ", " | capitalize | replace: ",", "&nbsp;" | replace: " ", "" %}
      {% assign allTags = "" %}
      {% for tags in page.categories %}
        {% assign singleCategory = page.categories[forloop.index0] | capitalize | replace: " ", "" %}
        {% assign allTags = allTags | append: " " | append: singleCategory %}
      {% endfor %}

    <div class="work {{ allTags }}" style="margin: 0!important;" width="100%">
      <div class="overlay">
        <a href="{{page.url}}" class="imgs_container_port" style=" margin-top: 20px;">
          <img src="../../../{{page.image_path}}" alt="{{page.title}}" class="img_responsive_port">
          <div class="mid_port" >
              <div class="texto_port">{{page.title}}</div>
          </div>
        </a>
      </div>
    </div>
    <br><br><br>
    {% endfor %}
  </div>
  <div class="ui hidden divider"></div>
</div>

