<div class="ui hidden divider"></div>
<div class="ui horizontal list centered social">
  <a class="item" target="_blank" href="{{site.data.social.social.gitlab.link}}"><i class="{{site.data.social.social.gitlab.icon}}"></i></a>
  <a class="item" target="_blank" href="{{site.data.social.social.twitter.link}}"><i class="{{site.data.social.social.twitter.icon}}"></i></a>
  <a class="item" target="_blank" rel="publisher" href="{{site.data.social.social.google.link}}"><i class="{{site.data.social.social.google.icon}}"></i></a>
  <a class="item" target="_blank" href="{{site.data.social.social.linkedin.link}}"><i class="{{site.data.social.social.linkedin.icon}}"></i></a>
  <a class="item" target="_blank" href="#"><i class="{{site.data.social.social.marker.icon}}"></i></a>
  <a class="item" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"><i class="{{site.data.social.social.feed_xml.icon}}"></i></a>
</div>
