<div class="ui fluid container techs">
  <div class="ui container">
    <div class="ui equal width relaxed stackable grid">
      <div class="equal width row">
        <div class="column">
          <div class="ui header inverted">
            <i class="connectdevelop icon"></i>
            <div class="content">
              <h2>Consulting</h2>
              <div class="sub header inverted">
              Some of our projects are two-month engagements while other are for the long haul. Sometimes we’re brought on to help an existing company dive into new territory, other times we will be working together with your team to make sure you get your products ready, on budget and on time. </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui header inverted">
            <i class="terminal icon"></i>
            <div class="content">
              <h2>Product Development</h2>
              <div class="sub header inverted">We transform your ideas into brilliant scalable products. For us collaboration is a base assumption about how we work, we integrate your input at every stage of a project. While we always strive to go to market quickly, we never sacrifice quality for speed.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="equal width row">
        <div class="column"><div class="ui header inverted">
          <i class="puzzle icon"></i>
          <div class="content">
            <h2>Training</h2>
            <div class="sub header inverted">Implement smart contracts to automate enforcement in RootStock and Ethereum. We can write your smart contract code from the defintion. We help companies to make the best Smart Contract code.</div>
          </div>
        </div>
      </div>
        <div class="column"><div class="ui header inverted">
          <i class="bitcoin alternative icon"></i>
          <div class="content">
            <h2>Devops</h2>
            <div class="sub header inverted">Develop safe and reliable cryptocurrency exchanges. Accept cryptocurrencies and instantly convert them to your preferred currency or keep them in your wallet.</div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
