<div class="ui fluid container techs">
  <div class="ui container">
    <div class="ui equal width relaxed stackable grid">

      {% for technologies in site.data.technology.index %}
      <div class="equal width row">
        <div class="column">
          <div class="ui header inverted">
            <i class="{{technologies.info1.icon}}" style="color: #ffcc00!important;"></i>
            <div class="content">
              <h2 style="color: #ffcc00!important;">{{technologies.info1.title}}</h2>
              <div class="sub header inverted" style="font-size: 100%!important;">
                {{technologies.info1.text}}
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui header inverted">
            <i class="{{technologies.info2.icon}}" style="color: #ffcc00!important;"></i>
            <div class="content">
              <h2 style="color: #ffcc00!important;">{{technologies.info2.title}}</h2>
              <div class="sub header inverted" style="font-size: 100%!important;">
                {{technologies.info2.text}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
