---
layout: default
title: Blogs - Explaining Blockchain, Elm, ES6 and what not.
excerpt: "Blogs - Explaining Blockchain, Ethereum, React, Elm, Elixir, ES6 and what not."

---

{% include bloghead.html %}

<div class="ui equal width stackable two column grid">

  {% assign blog = paginator.posts | where: "class", "blog" %}

  {% for page in blog %}
  <div class="column eight wide" align="left" >
    <style>
      @media only screen and (min-width:1200px) and (max-width:1919px){
        .imgs_container{
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        }
        .mid{
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 70%;
          left: 42.5%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%)
        }
        .imgs_container:hover .img-responsive{opacity: 0.3;}
        .imgs_container:hover .mid{
          width: 80%;
          opacity: 1;
        }
        .text_img {
          background-color: #ffcc00;
          font-weight: bold;
          color: #1b1c1d;
          font-size: 16px;
          padding: 16px 32px;
        }
        .sub_header{
          background-color:#1b1c1d; 
          color:beige  ;       
          font-size: 80%!important;
          padding-left: 70px!important;
          margin-top: -24px;
          padding-right: 32px;
        }
        .texto{margin-top: 15px!important; padding-right: 5px; font-size: 90%;}
      }
      @media only screen and (min-width:900px) and (max-width:1199px){
        .imgs_container{
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        }
        .mid{
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 60%;
          left: 43.5%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%)
        }
        .imgs_container:hover .img-responsive{opacity: 0.3;}
        .imgs_container:hover .mid{
          width: 80%;
          opacity: 1;
        }
        .text_img {
          background-color: #ffcc00;
          font-weight: bold;
          color: #1b1c1d;
          font-size: 14px;
          padding: 16px 32px;
        }
        .sub_header{
          background-color:#1b1c1d; 
          color:beige  ;    
          font-size: 80%!important;
          padding-left: 70px!important;
          margin-top: -24px;
          padding-right: 32px;
        }
        .texto{margin-top: 15px!important; padding-right: 5px; font-size: 90%;}
      }
      @media only screen and (min-width:768px) and (max-width:899px){
        .imgs_container{
          opacity: 1;
          display: block;
          width: 100%;
          height: auto;
          transition: .5s ease;
          backface-visibility: hidden;
        }
        .mid{
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 85.3%;
          left:45.4%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%)
        }
        .imgs_container .mid{
          background-color: #ffcc00;
          position: absolute;
          width: 83%;
          opacity: 1;
        }
        .imgs_container .text_img{font-weight: bold;margin-top: -10px; margin-bottom: -10px;}
        .imgs_container .texto{ margin-left:15%;}
        .text_img {
          color: #1b1c1d;
          font-size: 16px;
          padding: 16px 32px;
        }
        .sub_header{
          opacity: 0;
          margin: 0;
          margin-top: -50px;
        }
        .texto{padding-right: 5px; font-size: 90%;}
      }
      @media only screen and (max-width:767px){
        .imgs_container{
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        }
        .mid{
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 80%;
          left:45%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%)
        }
        .imgs_container .mid{
          background-color: #ffcc00;
          position: absolute;
          width: 90%;
          opacity: 1;
        }

        .imgs_container .text_img{ font-size: 250%; font-weight: bold;margin-top: -10px; margin-bottom: -10px;}
        .imgs_container .texto{ margin-top: -20px!important; padding-right: 5px;font-size: 150%; margin-bottom: 5px; }
        .text_img {
          
          color: #1b1c1d;
          font-size: 16px;
          padding: 16px 32px;
        }
        .sub_header{
          opacity: 0;
          margin: 0;
          margin-top: -20px;
        }
      }
    </style>
      <!--<hr align="left" width="80%">
      <h2 class="ui header large">
        <a href="{{page.url}}" title="{{page.title}}" style="color: #1b1c1d!important;"></a>{{page.title}}</a>
        <h5 style="color: #ffcc00!important;margin-top: -10px;">{{page.date |  date_to_long_string  }}</h5>
        <div class="sub header">{{page.excerpt | strip_html |  truncatewords: 40}}</div>
      </h2>

      <a href="{{page.url}}" title="{{page.title}}" class="ui black button" style="background-color: #444!important;">Read More...</a>-->
      <a href="{{page.url}}" title="{{page.title}}" class="imgs_container">
          <img class="img-responsive" src="../../{{page.image_path}}" width="100%" >      
          <div class="mid">
            <p class="text_img">{{page.title}}</p>
            <div class="sub_header">{{page.excerpt | strip_html |  truncatewords: 30}}</div>            
            <h5 style="margin-top: -7px;" class="texto"><i class="user icon"></i>by {{page.author}} | <i class="clock icon"></i>on {{page.date |  date_to_long_string  }}</h5>
          </div>
      </a>
  </div>
  {% endfor %}
</div>

<!-- Espaços em branco -->
<div class="ui divider hidden big"></div>
<div class="ui divider hidden big"></div>

<!-- Paginator -->
<div class="ui grid">
  <div class="eight wide column">
    <div class="pagination">
      <!--{% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="ui left small labeled icon floated button"><i class="left arrow icon"></i>Previous</a>
      {% else %}
      <span class="ui left small labeled icon floated button"><i class="left arrow icon"></i>Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page  %}
      <a href="{{ paginator.next_page_path }}" class="ui right floated right labeled icon small button">Next<i class="right arrow icon"></i></a>
      {% else %}
      <span class="ui right floated right labeled icon small button">Next<i class="right arrow icon"></i></span>
      {% endif %}-->
      
      <!--{% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">P&aacute;gina anterior</a>
      {% else %}
        <span class="previous_page disabled">P&aacute;gina anterior</span>
      {% endif %}
      <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Pr&oacute;xima p&aacute;gina</a>
      {% else %}
        <span class="next_page disabled">Pr&oacute;xima p&aacute;gina</span>
      {% endif %}-->
    </div>
  </div>
</div>

<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>