---
layout: compress
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-{{page.layout}}" class="page page-{{page.layout}} path-{{page.class | default: 'inner'}}">
  <div class="pusher">
    <div class="ui container" style=" background-color: #1b1c1d; width: 100%!important; margin-top: -20px; margin-left: 0!important;">
      {% include header.html %}
    </div>

    <!-- |========================| CONTENT |==========================|  -->
    {% if page.url == "/" %} <!-- Se for a pagina index -->
    <div class="ui container">
      {{ content }}
    </div>
    {% else %}
    <div class="ui container" style="margin-top: 30px;">
      {{ content }}
    </div>
    {% endif %}
    <!-- |======================| end CONTENT |========================|  -->

    {% if page.url == "/" %} <!-- Se for a pagina index -->
      {% include technologies.html %}
      {% include techstack.html %}
    {% endif %}
    <div class="fullw">
      <div class="ui container footer" style="width: 100%!important; margin-top: -20px; margin-left: 0!important;">
        {% include footer.html %}
      </div>
    </div>
  {% include analytics.html %}
  {% include scripts.html %}
</div>
</body>
</html>
